[2018-01-02 12:34] fifisamy opened #1 "Mic icon not showing on RecordButton"
Mic Icon Not Appear on RecordButton

[2018-01-02 13:45] 3llomi commented on #1
could you please give me more info ?
what android version you are using? .
 is the icon a Vector Drawable?.
and please make sure you are using the `app ` namespace instead of `android` in XML

[2018-01-07 13:14] munirbraganca commented on #1
I´m having the same problem in android 5.0.1
Using Vector Drawable but the icon doesnt appear, only the background appear.

[2018-01-07 13:24] munirbraganca commented on #1
Fixed using android:src="VectorDrawable" instead of app:src="VectorDrawable"

[2018-01-07 14:56] 3llomi commented on #1
@munirbraganca you should **NOT** use the `android:src` for the `RecordButton` because it may crash on older APIs .
anyway an update has been pushed and hopefully the bug was fixed.

please re open this issue if the problem still exists

[2018-01-07 20:21] fifisamy commented on #1
it worked on android 6 .. android 4  have this problem
but i solved it by create my own mic drawable

[2018-01-08 13:59] Redman1037 opened #2 "Got NullPointerException when cancelled the recording"
java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.Class java.lang.Object.getClass()' on a null object reference
                                      at android.graphics.drawable.AnimatedVectorDrawable$VectorDrawableAnimatorRT.createRTAnimator(AnimatedVectorDrawable.java:1330)
                                      at android.graphics.drawable.AnimatedVectorDrawable$Vector

[2018-01-08 14:44] 3llomi commented on #1
@fifisamy hmm, i already tested it on **API 17** and it's working.
did you try the vector drawable that bundled with the Library?, `ic_mic_white`

[2018-01-08 15:15] 3llomi commented on #2
@Redman1037 what Android API you are using?

[2018-01-09 04:56] Redman1037 commented on #2
API 25

[2018-01-09 06:14] PemmasaniRajesh opened #3 "Record Cancelled when clicking the Record Button"
I'm using this record button in card view which is in center of my layout.
`<android.support.v7.widget.CardView
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            app:cardCornerRadius="5dp"
            app:cardElevation="5dp"
            app:cardUseCompatPadding="true"

            <RelativeLayout
                android:id="@+id/parent_lay

[2018-01-09 07:29] fifisamy commented on #1
Yes but with some devices like samsung note 3  problem happened

[2018-01-09 13:20] 3llomi commented on #3
@PemmasaniRajesh for the Cancel issue i assume that you are using a Small Screen Device and for that you have to **Reduce** the **Cancel Bounds**  using `recordView.setCancelBounds(someValue);` the default is **130**

and the mic is not animating properly because it's **MUST BE** in the **RootLayout**,and the Root Layout should has `match_parent`  for **height** and **width**

[2018-01-09 15:23] 3llomi commented on #2
@Redman1037 could you try Version `1.0beta`  and report back ?

[2018-01-10 07:51] Redman1037 commented on #2
I am getting exception only on Lenovo k4 note with custom rom installed . On other devices it is working fine

[2018-01-16 13:42] magobin opened #4 "Close App at second time that I try to record!"
Hi,thanks for your library.It's very useful for me, but I have a problem.Every time (not the first )I try to record audio....the app crashes.
Below the error:
` 01-16 14:31:23.668 897-897/com.example.alex.navdemo A/libc: Fatal signal 11 (SIGSEGV), code 1, fault addr 0x20 in tid 897 (le.alex.navdemo)
   [ 01-16 14:31:23.669   453:  453 W/  debuggerd: handling request: pid=897 uid=10171 gid=10171 ti

[2018-01-17 14:27] 3llomi commented on #3
**UPDATE:** for the **Clipping issue**  you can set `android:clipChildren="false"` and `android:clipToPadding="false"` to your **RootLayout** ,in your case it's the `RelativeLayout`

[2018-01-17 14:27] #3 closed

[2018-01-17 15:01] 3llomi commented on #4
Hey @magobin
just move this code `recorder = new MediaRecorder();` from `onCreate()` to inside  your `start()` method

feel free to reopen this issue if you still have any issues

[2018-01-17 15:01] #4 closed

[2018-01-17 15:42] PemmasaniRajesh commented on #3
Thank you very much

[2018-02-16 20:12] shahzi8285 opened #5 "Button is not working in api level 24 (android version 7.0+)"
I am developing a chatting app and using your wonderful library..But button is not proprerly working in android version 7+ it has to tap continuesly 2-3times..Please help

[2018-02-16 20:37] 3llomi commented on #5
@shahzi8285 could you please provide more info about the problem ?
are the Callbacks working or not?

[2018-02-17 21:53] shahzi8285 commented on #5
`
           recordButton.setOnRecordClickListener(new OnRecordClickListener() {
                  @Override
                   public void onClick(View v) {
                   if(!recordButton.isListenForRecord()){
                             i = i+1;
                           count.setText("Count" + Integer.toString(i));
                     }
                    }
                      });

[2018-02-18 21:25] shahzi8285 commented on #5
Is there any help?

[2018-02-19 16:45] 3llomi commented on #5
please try it on a Real Device instead of **Emulator** . the `OnRecordClickListener` will **ONLY** works if the click input wasn't moved

[2018-03-17 14:28] 3llomi commented on #5
@shahzi8285 a new update has been pushed and hopefully the problem solved
please feel free to reopen this issue if you encountered any issues

[2018-03-17 14:28] #5 closed

[2018-04-05 05:25] Redman1037 opened #6 "android.content.res.Resources$NotFoundException"
**Device :-**  Samsung galaxy Note 2
**Version:-**  Android 4.4.2

**Crash Log**

      java.lang.RuntimeException: Unable to start activity ComponentInfo{in.eightfolds.soundvision/in.eightfolds.soundvision.activity.MusicListActivity}: android.view.InflateException: Binary XML file line #43: Error inflating class com.devlomi.record_view.RecordView
        at android.app.ActivityThread.performLaunc

[2018-04-05 07:47] Redman1037 commented on #6
The Issue is caused at the line 121 in RecordView ,don't know reason

`animatedVectorDrawable = AnimatedVectorDrawableCompat.create(context, R.drawable.basket_animated);`

so I added a version check  before its usages

    if (Build.VERSION.SDK_INT >= Build.VERSION_CODES.LOLLIPOP)
            animatedVectorDrawable = AnimatedVectorDrawableCompat.create(context, R.drawable.basket_animated);

in ani

[2018-04-05 15:45] 3llomi commented on #6
@Redman1037  can you please provide the **XML** ?

[2018-04-16 05:54] ArisChoice opened #7 "Not working on android API level 17"
`android.view.InflateException: Binary XML file line #80: Error inflating class com.devlomi.record_view.RecordView
       at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2282)
       at android.app.ActivityThread.handleLaunchActivity(ActivityThread.java:2340)
       at android.app.ActivityThread.access$800(ActivityThread.java:157)
       at android.app.ActivityThread$H.hand

[2018-04-17 00:48] 3llomi commented on #7
Could you please provide **XML**  that you are using?

[2018-04-17 05:48] ArisChoice commented on #7
`<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:gravity="center_vertical"
    android:orientation="horizontal">

    <LinearLayout
        android:id="@+id/messageFieldHolder"
        an

[2018-04-17 13:26] 3llomi commented on #7
hmmm, that's weird ,i've already tried it on API 17 on Emulator and it works Fine.
can you try the **Sample app** and report back?

[2018-04-18 06:50] ArisChoice commented on #7
I  created a  sample  app using your library. It is  working fine(in API level 17 too).  But it throwing above error in my current application(errror is  only below 19 API level devices). Don't know what is going wrong over here.

[2018-04-18 17:33] 3llomi commented on #7
so the **Sample App** that is included in the library is working on your device on **API17** ,but it's not working with your app that you've created. is that right?

[2018-04-24 09:47] Redman1037 commented on #6
<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@color/backGround"
    android:orientation="vertical"
    tools:context="in.

[2018-04-24 23:49] 3llomi commented on #6
@Redman1037 Thanks, is this issue persists in **Sample App** that included in Library  on the  same device?

[2018-05-01 09:20] rajscet opened #8 "Not working in scrollview prperly"
when i drag record button from top/bottom/right , buttton is hang and after that i press again record button to get old situation of record button and recording was canaclled

[2018-05-07 09:14] SanVakil opened #9 "InvocationTargetException"
05-07 14:39:46.755 17886-17886/com.vakilsearch.libra W/System.err: android.view.InflateException: Binary XML file line #91: Binary XML file line #91: Error inflating class com.devlomi.record_view.RecordView
    Caused by: android.view.InflateException: Binary XML file line #91: Error inflating class com.devlomi.record_view.RecordView
    Caused by: java.lang.reflect.InvocationTargetException

[2018-05-07 10:00] SanVakil opened #10 "android.content.res.Resources$NotFoundException: File res/drawable/basket_animated.xml from drawable resource ID #0x7f080073"
android.content.res.Resources$NotFoundException: File res/drawable/basket_animated.xml from drawable resource ID #0x7f080073

[2018-05-07 10:06] SanVakil opened #11 "AnimatedVectorDrawableCompat"
AnimatedVectorDrawableCompat not working properly. Can you please help me to fix this.

[2018-05-07 17:49] 3llomi commented on #9
Hey @SanVakil ,
what API are you using?
did you try the **Library Sample App**? did it work normally?

[2018-05-08 06:41] SanVakil commented on #9
Hi @3llomi ,
I tried Library Sample App, its working properly. When i used this into our app. i get this error.

[2018-05-08 09:57] 3llomi commented on #9
i see, can you post your `XML` and your **app** `build.gradle` so i can investigate into it?

[2018-05-08 10:15] 3llomi commented on #10
#9

[2018-05-08 10:15] #10 closed

[2018-05-08 10:15] 3llomi commented on #11
#9

[2018-05-08 10:15] #11 closed

[2018-05-15 13:36] vinayaka7 opened #12 "Target with the name "basket" cannot be found in the VectorDrawable to be animated"
Thanks for the Library but we have got issues in android Orio (Android Version 8).
1. Click on Mike Icon and Recording is Working Fine.
2.Hold on Record button and swipe left to cancel and we got Exception in android 8 version.

For Your Reference:
java.lang.IllegalStateException: Target with the name "basket" cannot be found in the VectorDrawable to be animated.
        at android.graphics.drawab

[2018-05-15 14:44] 3llomi commented on #12
Hey @vinayaka7 ,
could you please post the Log?

[2018-05-16 14:18] #12 closed

[2018-05-21 11:09] vinayaka7 commented on #7
In Android Api Level 19 .. Me too also facing the Same issue.

java.lang.RuntimeException: Unable to start activity ComponentInfo{com.kuku.namaste/com.kuku.namaste.ChatModule.ChatActivity}: android.view.InflateException: Binary XML file line #959: Error inflating class com.devlomi.record_view.RecordView
        at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2264)
        a

[2018-05-21 14:36] 3llomi commented on #7
Hey @vinayaka7  the problem is because you have the Drawable with the name `ic_delete` which is the same name of the **Vector Drawable** that included in the Library.
you can just rename the the drawable `ic_delete` that you have to another name ,until i push the new Update and change the name of it.

please try it and report back.

[2018-05-21 14:38] 3llomi commented on #6
Hey @Redman1037  the problem is because you have the Drawable with the name ic_delete which is the same name of the Vector Drawable that included in the Library.
you can just rename the the drawable ic_delete that you have to another name ,until i push the new Update and change the name of it.

please try it and report back.

[2018-05-21 14:39] 3llomi commented on #7
@vinayaka7  #6

[2018-05-21 15:19] 3llomi commented on #7
@ArisChoice please try to upgrade `appcompat` library in your app to **V26** or higher since it has bug fixes for `AnimatedVectorDrawables` on older API's

feel free to reopen this issue if the error still exists

[2018-05-21 15:19] #7 closed

[2018-06-11 15:09] shainsingh89 opened #13 "WhatsApp like delete animation"
I have added the Whatsapp like delete mic animation.

Create pull request for same

[2018-06-12 02:31] 3llomi commented on #13
Thanks man .
I tried to build it to see the new Animation and it's fantastic . I was planning to add the same animation in future release. So great job.
However i think it need a little modifications:
1-the Alpha animation for the ```smallBlinkingMic```
Must be  removed when starts the animation, because it may still animating while performing the the rotation and translation animations
2-the ```b

[2018-06-17 03:30] 3llomi commented on #13
@shainsingh89 OK, i will accept PR now and i will modify it with a new update later.
Thanks for this Beautiful Animation.

[2018-06-17 03:30] #13 closed

[2018-06-18 14:36] 3llomi commented on #9
well since there is no response from you , all i can say is try to upgrade AppCompat Library to v26 or Higher
please feel free to re open this issue if you still have any issues.

BTW  a new update has been published please check it out.

[2018-06-18 14:36] #9 closed

[2018-06-18 14:38] 3llomi commented on #6
A new update has been published with fixes for the drawables names issues

[2018-06-18 14:38] #6 closed

[2018-06-18 14:39] 3llomi commented on #2
A new update has been published with some bug fixes.
please try to upgrade to latest version.

feel free to re-open this issue if you still have problems

[2018-06-18 14:39] #2 closed

[2018-06-18 14:40] 3llomi commented on #1
it should be fixed with `V2.0.0`

[2018-06-18 14:40] #1 closed

[2018-06-18 16:30] 3llomi commented on #8
@rajscet sorry for late reply.
i have tried [this ](https://stackoverflow.com/a/31425613/4130286)`Custom ScrollView` and it's working fine

[2018-06-18 16:30] #8 closed

[2018-06-20 20:44] phabiulla opened #17 "Problems with RecyclerView"
I'm using RecyclerView to show a list of questions and for each one, displayed inside a CardView .. it has a recordbutton and a recordview .. By clicking on the button and moving it up and taking it .. instead of canceling press the button again. I believe the problem is due to the existence of scroll .. but I can not solve it. If anyone has ideas to help ..

[2018-06-20 21:56] 3llomi commented on #17
Hey @phabiulla .
inspired by [this](https://stackoverflow.com/a/31425613/4130286) , you can create your own custom RecyclerView to fix this issue like this:
[code]

and use it in `XML` **instead** of `android.support.v7.widget.RecyclerView`

[2018-06-20 21:56] #17 closed

[2018-06-22 16:47] phabiulla commented on #17
Thank you! You helped me a lot.

[2018-07-07 13:14] touhiDroid opened #18 "Need to Change the Timer-text Color"
The library is good, but we almost always need custom color-theme where it'd be better if I can change the color of the timer.

As per the code, I can see it's a `Chronometer` extending `TextView`, so it should be easily doable if that `Chronometer` is made accessible by any get-method. Any set-method or resource-property to update the color can also be alternate solutions.

Or, is there already a

[2018-07-08 12:58] 3llomi commented on #18
Hey @touhiDroid ,
Yes, you are right, i did not notice that, i will implement them in the next update.

[2018-07-11 10:41] rameshpaladugu opened #19 "Audio recording issue"
When I click on the mic icon without holding it and next time when I try to record by holding its not getting recorded.

 if (recorder != null) {
            recorder.stop();
            recorder.release();
        }
Exception occuring at recorder.stop();

[2018-07-11 12:49] 3llomi commented on #19
@rameshpaladugu can you post your full code? i think the problem is in you App Logic.

[2018-07-16 09:22] rameshpaladugu commented on #19
private void showAudioRecordPopUp() {

    android.support.v7.app.AlertDialog.Builder builder = new android.support.v7.app.AlertDialog.Builder(CreateNewReminderActivity.this);
    LayoutInflater inflater = getLayoutInflater();
    View dialogView = inflater.inflate(R.layout.pop_up_record_audio, null);

    builder.setView(dialogView);
    final android.support.v7.app.AlertDialog dialog = builder.c

[2018-07-16 09:22] rameshpaladugu commented on #19
Error : stop called in an invalid state: 0

[2018-07-17 10:58] AhmedAness commented on #9
i have a problem with io.supercharge.shimmerlayout.ShimmerLayout

[2018-07-17 13:56] 3llomi commented on #9
@AhmedAness Please open a new issue and post Full log

[2018-07-18 06:53] icangku commented on #8
How About NestedScrollView ?

[2018-07-18 11:13] AhmedAness opened #20 "Error inflating class com.devlomi.record_view.RecordView"
the old version of this lib was working fine to me when i update to the new one that erroe appear ?

[2018-07-18 14:45] 3llomi commented on #8
@icangku i think you have to make same approach like [here](https://stackoverflow.com/a/31425613/4130286), but instead of extending `ScrollView` you have to extend `NestedScrollView`.

give it a shot and let me know how it goes.

[2018-07-18 14:47] 3llomi commented on #20
@AhmedAness please copy the error from Logcat and post it here

[2018-07-18 14:55] 3llomi commented on #19
@rameshpaladugu i am sorry, but i think this error is from `MediaRecorder` or `MediaPlayer` not from `RecordView`.

[2018-07-18 14:55] #19 closed

[2018-08-01 08:21] juniorfrogie opened #21 "Got error when implementation 'com.devlomi.record-view:record-view:2.0.0'"
I got this error when sync gradle:

Program type already present: android.arch.lifecycle.ViewModel
Message{kind=ERROR, text=Program type already present: android.arch.lifecycle.ViewModel, sources=[Unknown source file], tool name=Optional.of(D8)}

[2018-08-12 18:26] MyWay opened #22 "Lowering minSdkVersion to 14?"
Would it be possible? Thanks.

[2018-08-14 19:27] 3llomi commented on #22
Hey @MyWay
an Update has been pushed  along with support for API14. however i don't have an API 14 Device to test it :sweat_smile: . if you faced any issues please let me know.

[2018-08-14 19:27] #22 closed

[2018-08-19 16:19] mansya opened #23 "New logo/icon proposal"
Good day Sir I am a graphic designer and i am interested in designing a logo for your good project. I will be doing it as a gift for free. I just need your permission first before i begin my design. Hoping for your positive feedback. Thanks

[2018-08-20 01:47] 3llomi commented on #23
Hey @mansya.
Of course , that would be awesome.
Waiting for your Cool design.
Thanks for your effort.

[2018-08-21 13:56] mansya commented on #23
I have design logo for this project. what do you think ? do you like it ? or is there a color change ?
![record view](https://user-images.githubusercontent.com/33461607/44405818-5f6c4f80-a584-11e8-91f7-d280d9cc3da4.png)

[2018-08-22 16:28] 3llomi commented on #23
Thanks @mansya ,it's awesome. i would go with Icon 11

[2018-08-24 06:24] sepehr1014 opened #24 "Recording lock option"
Thank you for this great project. Are there any plans to add locking behavior? Something Telegram messenger has had for many years and WhatsApp has added recently:

https://www.androidpolice.com/2018/04/05/whatsapp-2-18-102-brings-voice-note-recording-lock-option/

[2018-08-25 19:01] 3llomi commented on #23
merged, Thanks for your efforts .

[2018-08-25 19:01] #23 closed

[2018-08-25 19:45] 3llomi commented on #24
Hi @sepehr1014 ,
Yes i have this idea in my mind, it's just needs some time to make it work.

[2018-08-30 07:16] Redman1037 opened #26 "Weird scrolling behaviour in latest version of library"
![ezgif-1-164aec36ae](https://user-images.githubusercontent.com/22935835/44835475-ed65cb80-ac51-11e8-9506-b5f8375ea7a2.gif)

The correct scrolling behaviour is that it should only scroll upto "Mp3 files"  `TextView`  . It was working fine with beta version of library .

version used `implementation 'com.devlomi.record-view:record-view:2.0.1'`

Here is my xml

[code]
If I remove the Relative Layout

[2018-09-05 10:41] Tougee commented on #24
@sepehr1014
[You can check this project same as Telegram](https://github.com/Tougee/AudioRecorderView)

[2018-09-05 15:14] 3llomi commented on #24
@Tougee Good Job man it's Great.
it would be awesome to add Lock feature to 'Record View'  :wink:

[2018-09-13 13:21] AyhamNasser opened #27 "Mic button not appear xamarin.android"
![image](https://user-images.githubusercontent.com/8664131/45490661-6562e400-b770-11e8-9809-40fbd64cb877.png)

I can't make mic appear even if i use the same icons you provided background appear but the mic not
I used with xamarin.android
my xml

[code]

[2018-09-15 13:14] 3llomi commented on #27
you should use `app` namespace instead of `rec` in your case.
like this:
`app:mic_icon="@drawable/ic_microphone_gray"`

[2018-09-15 13:24] #21 closed, assigned to nobody

[2018-09-16 06:02] alexinadev opened #28 "record button releases immediately!"
Hi, I am using the latest version of Record-view library `(compile 'com.devlomi.record-view:record-view:2.0.1')`. I want to use it in a dialog view. When I use library codes in the activity everything works fine but in dialog view when I touch and hold the record button it acts like I tap it. I mean touch and release record button happens immediately! the code below is my dialog XML layout:

    <

[2018-09-20 15:16] traifdevelopment opened #29 "Get audio"
How can i get the record file?

[2018-10-01 13:32] gpandroid90 opened #30 "RTL support"
not supporting rtl can you help me

[2018-10-03 11:27] Menris commented on #28
@alexinadev I had that problem because my cancel text was too long. Try change **setSlideToCancelText** as "Cancel" or smth short and try again. It helped me

[2018-10-05 14:41] 3llomi commented on #28
Hey @alexinadev , sorry for late response.
i just tried to put the RecordView Sample app into a Dialog and it works fine.
i tried to use your sample but there are a lot of customViews that you are using.
you can try the following:

1. since you are using a ScrollView you can refer to this [issue](https://github.com/3llomi/RecordView/issues/8)

2. as @Menris  said you might want to decrease cancelB

[2018-10-05 14:42] #27 closed

[2018-10-05 14:42] #20 closed

[2018-10-28 16:25] asknask opened #31 "Time limit?"
Is there a way to limit the recording to a certain time?

[2018-10-30 18:02] #28 closed

[2018-10-30 18:02] #26 closed

[2018-11-06 09:32] rohitgarg29 opened #32 "can i build your library with 23.4.0?"
Hi

I have whole projects on basis of 23.4.0, when i am replacing it with 27.1.1 it gives me error regarding the layout_behavior already defined in build folders so that error is very to resolve if there is someway to integrate without 27.1.1, please let me know.

[2018-11-08 18:45] 3llomi commented on #32
i don't know what's the problem in your project, but anyway you can clone the repo then import it to your project then modify the version  to `23.4.0`

[2018-11-08 22:29] Duna commented on #12
the issue occurred when inside a library, and try to use within the app

[2018-11-21 20:56] EngAlaa22 opened #33 "Does not work with fragments!!"
I've tried ur library but it does not show the recording button when added to a fragment I've examined it in various android versions but none of them worked!

[2018-11-23 13:54] hugothomaz opened #34 "When you finish recording, the record button disappears."
If you click the record button and release immediately or even if you hold and aggravation is successful the button disappears. If I drag to the side and cancel the recording it does not disappear.

`<com.devlomi.record_view.RecordButton
                    android:id="@+id/recordButton"
                    android:layout_width="30dp"
                    android:layout_height="30dp"

[2018-12-12 18:32] danielgssp opened #35 "Do you have something similar to react native?"
Do you have something similar to react native?

[2018-12-15 13:34] 3llomi commented on #35
Unfortunately No.

[2018-12-15 13:34] #35 closed

[2018-12-15 13:35] #32 closed

[2019-05-05 17:34] shivam21 commented on #26
i am facing the same issue..any solution?

[2019-05-05 17:37] Redman1037 commented on #26
I just used old version and it was fine for me .

[2019-07-02 09:36] hossamxp33 opened #36 "audio file not save"
audio file not save after finish record

[2019-07-02 13:23] 3llomi commented on #36
@hossamxp33 this library is only a Record View, you have to implement audio recording by yourself using `MediaRecorder` for example.

feel free to re-open this issue if you need to.

[2019-07-02 13:23] #36 closed

[2019-07-15 09:42] iskugor opened #37 "AnimationHelper - NullPointerException"
Hello. I noticed one crash in crash logs:

`
java.lang.NullPointerException:
  at com.devlomi.record_view.AnimationHelper.clearAlphaAnimation (AnimationHelper.java:170)
  at com.devlomi.record_view.RecordView.onActionUp (RecordView.java:312)
  at com.devlomi.record_view.RecordButton.onTouch (RecordButton.java:113)
`

No sure how it happens, I cannot reproduce it.

[2019-07-17 19:30] 3llomi commented on #37
Hi, @iskugor , can you give more details about the issue please?

[2019-07-18 11:27] iskugor commented on #37
@3llomi unfortunately, I cannot reproduce it, so I'm not sure what more details can I give you?

I extend "RecordView" and "RecordButton", in class that extends "RecordButton" I override "onTouch" method, maybe it's related to that?

[2019-07-18 15:11] 3llomi commented on #37
Yes i think that causes this issue, because `RecordButton` implements `onTouch`.
can you try to **not** implement `onTouch` and report back?

[2019-07-19 14:28] iskugor commented on #37
The problem is I need to disable touch event in some cases (similar to Whatsapp, you can send message and record audio).
And I cannot test it locally as I cannot reproduce it.

Maybe there's other way to disable recording?

[2019-07-19 17:42] 3llomi commented on #37
Yes of course!.

first of all disable the touch movement by using
`recordButton.setListenForRecord(false);`

then you can add a listener for the record button clicks using
[code]

[2019-07-22 10:06] iskugor commented on #37
Thanks, I'll give it a try!

[2019-08-07 10:22] #37 closed

[2019-09-02 14:36] hsmedinar opened #38 "onstart"
I will try to setup recordview, but always call on start in the init, so, I will try to make gone a textview while is recording, and go back to show when finish, so I put inside onstart() text gone and in onfinish() text visible, but onstart is always called when init the activity, so my text always is gone when start activity

[2019-09-03 12:32] ramonmacias opened #39 "Slide to cancel not works"
Seems that the feature of slide to left for cancel is not working, in my case I can slide to the left the button to cancel. Is that feature already implemented?

[2019-09-04 21:12] 3llomi commented on #38
please try the Demo Project, it's probably that there is something in your code.

[2019-09-04 21:13] 3llomi commented on #39
Yes, it's already implemented as you can see in the Demo.
 what issue do you have?

[2019-09-10 03:30] ezeeeze opened #40 "Change image icon"
I am using the recordButton.setListenForRecord(false); for switch my button to click and send a text message But I cant change the icon image.
How I can change the icon using setImageIcon ???

[2019-09-11 14:11] 3llomi commented on #39
closed for non-response

[2019-09-11 14:11] #39 closed

[2019-09-11 14:12] 3llomi commented on #40
you can change the icon just like any Normal button using `button.setImageResource`

[2019-09-11 14:17] 3llomi commented on #38
closed for non-response

[2019-09-11 14:17] #38 closed

[2019-09-11 14:18] 3llomi commented on #34
please try the Demo Project, it's probably that there is something in your code.

[2019-09-11 14:39] 3llomi commented on #33
can you try the Demo App and report back?

[2019-09-11 21:46] ezeeeze commented on #40
Thanks!!!! I was using setImageIcon  hahah.
Now with setImageResource run excellent!!!!!!

[2019-09-11 21:46] #40 closed

[2019-09-27 15:35] Kuvonchbeky commented on #33
It working fine with fragments.[not reproducible]

[2019-10-01 12:55] drsoosmar opened #41 "problem my recyclerview"
Hello and hello
Why when I add this library to the project
My recyclerview goes to my status ?

screenshot :
http://s6.picofile.com/file/8374005268/11.jpg

[2019-10-01 13:33] 3llomi commented on #41
Hi @drsoosmar .
i did not get what do you mean , can you please be more descriptive?

[2019-10-01 14:16] drsoosmar commented on #41
Look At This :
http://s9.picofile.com/file/8374011876/22.jpg

When I add this library to the project
That's the problem

[2019-10-01 18:29] 3llomi commented on #41
maybe there is something wrong in your xml, can you post your xml ?

[2019-10-01 20:16] drsoosmar commented on #41
http://s9.picofile.com/file/8374040468/private_messanger.xml.html

after remove library RecordView , Problem fixed

[2019-10-01 21:30] 3llomi commented on #41
PLEASE post your xml here

[2019-10-01 21:32] drsoosmar commented on #41
`<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:id="@+id/bk_messanger"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="#FEFEFE">

    <RelativeLayout
        android:layout_

[2019-10-01 22:33] drsoosmar commented on #41
Layout Keyboard :

`<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="wrap_content">

    <LinearLayout
        android:id="@+id/keyboard"
        android:layout_width="match_parent"
        android:layout_height=

[2019-10-05 15:32] drsoosmar commented on #41
While the I change color status bar By this Code :

`if (Build.VERSION.SDK_INT >= Build.VERSION_CODES.LOLLIPOP) {
            Window window = activity.getWindow();
            Drawable background = activity.getResources().getDrawable(R.drawable.bk_toolbar);
            window.addFlags(WindowManager.LayoutParams.FLAG_DRAWS_SYSTEM_BAR_BACKGROUNDS);
            window.setStatusBarColor(activity.getRe

[2019-11-13 17:53] emaanuelsilvaa opened #42 "Basket image color."
Hello, there is a possibility of change basket color ?

[2019-11-13 18:42] 3llomi commented on #42
Hi, @emaanuelsilvaa!.
currently it's not implemented (i don't know why 😅), i will try to add it in a future release.

currently what you can do is adding the library to your project manually then go to `RecordView` class and add this line after initializing the views
[code]

[2019-11-14 16:35] emaanuelsilvaa commented on #42
okay thanks 😄

[2019-11-14 16:35] #42 closed

[2019-12-16 12:48] mohammadaliahmed opened #43 "Not plying on web"
http://medipanda.pk/voice_storage/1576499983183r3fa35746d54b8a20.mp3 this is the recorded url.. its not working in web, but plays in app.. dont understand if there any codec issue or what

[2019-12-16 13:16] 3llomi commented on #43
Hi, @mohammadaliahmed .
`RecordView` does NOT handle 'Audio Recording' you should handle it by using `MediaRecorder` for example.

[2019-12-16 13:16] #43 closed

[2020-01-26 17:41] Parag2385 commented on #41
@drsoosmar Did you solve this issue? I'm having a similar kind of issue, my toolbar behaves unexpectedly if used this library.

[2020-03-09 20:56] amanryder opened #45 "remove the circle background while on idle"
How can i remove the green oval background of the mic while idle but have it inflate when it's clicked ? when i try to remove the background, it is removed from both idle state and clicked state.

[2020-03-30 20:18] AyhamNasser opened #46 "Not working with Big Zoom"
When changing the zoom and font size from the default I can't perform long-click to record audio its called Action cancel directly after start

[2020-04-11 21:09] #33 closed

[2020-04-11 21:09] #34 closed

[2020-04-11 21:11] 3llomi commented on #46
Hi, @AyhamNasser can you give more context about the issue?
it would be helpful if you posted a demo image or video.

[2020-04-15 10:22] marwensniper opened #47 "Listview and record view"
Hi,
I have a problem when i add the record view to my layout,  when i scroll in listview lthe item of list show on the tablayout
[code]
and this is a screen of the problem :

![Screenshot_20200414_124934_comunik com comuniksaleslite](https://user-images.githubusercontent.com/10588450/79326822-67bc8f80-7f0b-11ea-8750-09f72f6fe193.jpg)

[2020-04-15 10:23] marwensniper commented on #47
This what happen when i scroll :

![Screenshot_20200414_124939_comunik com comuniksaleslite](https://user-images.githubusercontent.com/10588450/79326871-77d46f00-7f0b-11ea-89b5-9339547274d5.jpg)

[2020-04-15 22:09] 3llomi commented on #47
Hey @marwensniper, that's weird!. can you send me a demo project to investigate into it?

[2020-04-15 22:37] marwensniper commented on #47
hi @3llomi hope you are well, i can"t send you the apk because you should authentificate with account of client sorry. if you need any other explain i'm here.

[2020-04-15 22:43] 3llomi commented on #47
i don't need your APK neither this exact project, i just need a 'Sample Project' that demonstrates this issue that you have.
you can create a new dummy project and implement a similar Setup to your project,  just to demonstrate the issue.

[2020-04-16 10:05] marwensniper commented on #47
Finaly, i found a solution :

i create 2 constraintlayout first have android:elevation="2dp"
 and the second i add elevation to item with 16dp, and it work :D

This is my new layout :

<?xml version="1.0" encoding="utf-8"?>
<androidx.constraintlayout.widget.ConstraintLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:

[2020-04-16 11:41] #47 closed

[2020-06-05 12:30] jaypatoliya56 commented on #41
problem solved use my method

take relative layout as root
1. recycler view
2. bottom library record view
3. toolbar

In short, add your toolbar at the last problem will be fixed.

[2020-07-04 18:23] #46 closed

[2020-07-13 04:44] juanLovera commented on #42
Another way to do this without having to manually add the library is:
recordView.findViewById<ImageView>(R.id.basket_img).setColorFilter(Color.BLUE)

[2020-07-16 03:57] Andreu35 opened #48 "Pull Request declined"
Hi, I cloned this repository because I like this library and I refactored to Kotlin all the code to help but, I can't push the code because I don't have permissions.
Please, can you give me permissions to push the Kotlin code?

Thank you very much ;)
-Andreu35.

[2020-07-16 06:04] #48 closed

[2020-07-16 14:04] 3llomi commented on #48
Hey @Andreu35, Thanks for your contribution, basically you have to `fork` this Library to your Github account, and **then** you can `clone` it from your account and start adding your code/refactoring. once everything is ready you can commit and push it to your repository, lastly you can submit a Pull request so i can review it and approve it.

let me know if you need any help.

[2020-08-26 17:21] JobGetabu opened #49 "Doesn't work well in BottomSheetDialogFragment"
When added to a BottomSheetDialogFragment view
Once clicked does not detect click end gesture

[2020-08-26 18:56] 3llomi commented on #49
Hey @JobGetabu,
probably because touchEvents intercepting with each other, can you try to apply the same idea as here #17 ?

[2020-08-27 17:14] JobGetabu commented on #49
Tried different ways & touchEvents
But the slide to Cancel gesture fails

[2020-08-28 22:20] 3llomi commented on #49
can you send me a sample project so I can take a look?

[2020-09-10 12:20] irtza46 opened #50 "RecordView requires this function"
### RecordView lacks an important functionality of **limiting the record time**.

- [ ] A **new function** should be created which allows to **provide the record time limit** until which to record and then automatically calls the onFinish function of onRecordListener.

[2020-10-17 12:19] plokijuhyg opened #51 "use in fragment"
hi for use in fragment what do i do ?
my error if use in fragment :

E/InputEventReceiver: Exception dispatching input event.
E/MessageQueue-JNI: Exception in MessageQueue callback: handleReceiveCallback
E/MessageQueue-JNI: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.devlomi.record_view.RecordView.onActionDown(com.devlomi.record_view.RecordButton, android.view.Motion

[2020-10-27 15:44] 3llomi commented on #50
#31

[2020-10-27 15:44] #50 closed

[2020-10-27 16:01] 3llomi commented on #51
Hey @plokijuhyg , Sorry for late reply.
can you reproduce it? i've just tested it on a Fragment and it works good.

[2020-10-27 16:25] 3llomi commented on #49
after some testing i've noticed that touches events intercepts with each other.
what i am thinking of is to use `BottomSheetBehavior` and `setDraggable` to false when recording.
for example in onStart `setDraggable` to false, and on Finish set it back to true.

feel free to re-open this issue if it didn't work.

[2020-10-27 16:25] #49 closed

[2020-10-27 16:29] #41 closed

[2020-11-05 09:36] HaiderAliBT opened #52 "Slide to cancel not work, when parent layout is scroll view"
Hello everyone, i have implemented this audio recorder and i am having an issue in this. When my parent layout is ScrollView then slider "Slide to cancel" not work. Please help me! Thanks in advance.

[2020-11-06 12:54] #51 closed

[2020-11-06 12:57] 3llomi commented on #52
Hey @HaiderAliBT , please implement the same solution as here #17 ,

[2020-11-23 07:40] ZaifSenpai opened #53 "Restore RecordButton view from active recording after user has dragged touch outside"
Button is still showing Recording when user's pointer has left the view by dragging to other side.
See video for reference:
[Video](https://youtu.be/uo8YCajY-xk)

[2020-12-15 01:56] cett01 commented on #53
Yeap, Yeah I'm facing the same problem, on the scrollview.

[2021-01-09 15:50] osama1malik opened #54 "How can I hide shimmer effect from **Swipe to Cancel** text."

[2021-01-14 06:45] Mustafa-Altameemi commented on #24
Thanks for your library. I'm wondering if you have done the recording lock by now or not?

[2021-01-18 18:18] aldesha989 opened #55 "where record file saved ?"
hello
where record file saved ?

[2021-02-14 17:24] bilalawwad commented on #55
@aldesha989 this lib doesn't implement the "recording" functionality for you, you do it yourself.
so you provide the implementation for recording and saving the recorded file as it suits you

[2021-02-28 12:41] Tarikmnk commented on #41
problem solved use my method

        <RelativeLayout
            android:layout_width="match_parent"
            android:layout_height="0dp"
            app:layout_constraintBottom_toTopOf="@+id/containerChatEdittext"
            app:layout_constraintTop_toBottomOf="@+id/includeToolbar">

            <androidx.recyclerview.widget.RecyclerView
                android:id="@+id/rvChatting"

[2021-02-28 14:27] #55 closed

[2021-02-28 14:28] 3llomi commented on #55
as @bilalawwad mentioned, you have to implement audio-recording mechanism on your own.

[2021-02-28 14:31] 3llomi commented on #53
Hi @ZaifSenpai , i can see from the video that you're using it inside a ScrollView/RecyclerView.
can you try solution implemented here #17   and report back?

[2021-03-08 16:32] #53 closed

[2021-04-21 07:57] vishnukumar7 opened #56 "languages issues"
working fine in English and french but
When i change to languages into Spanish or Arabic not working

[2021-04-24 04:34] VirajShirwalkar opened #57 "Record button and media player."
Hi, i have noticed that the record button gets bigger while recording or button pressed and there is no such method to change  or enable-disable record button animation.
Secondly, if there is no recording happened via library then media player contents should be removed. It is not getting used and library size can be reduced.
Delete animated icon has no color change available.
If possible, please

[2021-04-28 21:50] 3llomi commented on #56
@vishnukumar7 not sure what do you mean, can you re-produce it?

[2021-05-05 20:42] #56 closed

[2021-05-05 20:45] 3llomi commented on #57
Hi,

i didn't implement that.

there is **NO** recording mechanism implemented in this lib, so you have the freedom to implement whatever you like. like MediaRecorder for Example.

[2021-05-07 11:18] VirajShirwalkar commented on #57
I like the library and requesting you to please provide some customizations. Thanks.

[2021-05-07 12:07] Sarimsaljook opened #58 "Weird Scrolling with Record Button"
I am building a chat app and every Time i add a record button to the bottom of my recycler view it starts scrolling weird. Here is whats happening,

here is my xml for the chat activity:
 `<?xml version="1.0" encoding="utf-8"?>
<androidx.constraintlayout.widget.ConstraintLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xm

[2021-05-08 11:48] 3llomi commented on #58
can you try the sample app? maybe there is an issue with your layout that's conflicting with RecordView?

[2021-05-08 13:30] Sarimsaljook commented on #58
ok

[2021-05-10 12:51] mahmoudfathy01010 commented on #58
I have the same issue, If you figured any solution please tell me

[2021-05-12 15:07] DilipRipenApps opened #60 "Record Button is hidden after the record finished"
@Override
            public void onFinish(long recordTime) {
                String time = CommonUtils.getHumanTimeText(recordTime);
                Toast.makeText(ChatActivity.this, "Recorded Time is: " + time, Toast.LENGTH_SHORT).show();
                mediaRecorder.reset();
                mediaRecorder.release();

                binding.textMessage.setVisibility(View.VISIBLE);

[2021-05-15 00:50] Mustafa-Altameemi commented on #50
Hello Guys,
Is this feature available now?

[2021-05-15 00:53] Mustafa-Altameemi commented on #31
Any news about this feature?

[2021-05-15 22:57] 3llomi commented on #58
can you send me a sample project that i can test against?

[2021-05-15 22:58] 3llomi commented on #60
please checkout the Demo Project, i believe there is something wrong with your layout.

[2021-05-15 23:02] 3llomi commented on #57
Okay, i'll leave this issue open, maybe sometime i can add these customization.
to recap, we need to add these functionalities
1. enable or disable record animation
2. add the ability to change delete animation icon color (trash icon).

[2021-05-15 23:02] 3llomi commented on #54
not implemented yet. i'll leave this issue open, maybe sometime i can add that.

[2021-05-15 23:04] 3llomi commented on #24
@Mustafa-Altameemi Not yet. not sure if i can add this in the near future.

[2021-05-15 23:04] 3llomi commented on #31
@Mustafa-Altameemi not yet, that's why this issue is still open.

[2021-05-15 23:24] 3llomi opened #61 "Migrate to AndroidX"

[2021-05-16 10:12] Sarimsaljook commented on #58
ive tried it in a sample project it works it is the recycker view that is conficlitnv with your layout

[2021-05-16 12:37] 3llomi commented on #58
@Sarimsaljook  can you try this #17 ?

[2021-05-16 20:40] abdogamerpro commented on #61
When you will migrate library to androidx ?
Case I have problem with library..

[2021-05-21 16:20] #60 closed

[2021-05-21 16:20] #58 closed

[2021-05-22 12:08] 3llomi commented on #61
Migrated in V3.0.1

[2021-05-22 12:08] #61 closed

[2021-05-22 12:09] 3llomi commented on #57
Added in V.3.0.1

[2021-05-22 12:09] #57 closed

[2021-05-22 12:09] 3llomi commented on #54
Added in V.3.0.1

[2021-05-22 12:09] #54 closed

[2021-05-22 12:10] 3llomi commented on #31
Added in V.3.0.1

[2021-05-22 12:10] #31 closed

[2021-05-22 12:12] #45 closed

[2021-05-22 14:13] Mustafa-Altameemi commented on #31
Thanks a lot.

[2021-06-23 14:53] Youssef-KechEima opened #62 "MavenCentral"
Pllz upload this library to MavenCentral repository

[2021-06-23 18:42] iranandroid commented on #30
Hi, is it possible support RTL?

[2021-06-23 20:55] 3llomi commented on #62
it's already uploaded to JitPack since JCenter became **Read-Only** .
there is no plan to upload it to MavenCentral ATM, since JitPack works perfectly.

[2021-06-23 20:55] #62 closed

[2021-06-29 16:04] alexandrplusnin opened #63 "Application attributes in AndroidManifest"
Thank you for your great work on this project! I wonder if it makes sense to remove <application> tag from library's AndroidManifest.

https://github.com/3llomi/RecordView/blob/master/record-view/src/main/AndroidManifest.xml

I want to use RecordView in my own library but I am worried that it can lead to manifest merging conflicts (for example, if user of my library is using different attribute "a

[2021-07-01 19:20] Abdelrahman2010 opened #64 "Not Support RTL"

[2021-07-01 21:00] 3llomi commented on #24
if anyone is interested, i've added this feature in a separate branch since it's in Beta.

implementation 'com.github.3llomi:RecordView:record-lock-ee919e1d70-1'

looking forward for your feedback.

[2021-07-01 21:03] 3llomi commented on #64
so by 'RTL' do you mean to support Right to Left layout for Locales like Arabic?
if that was the case you like the RecordButton to be at the left? if so, please close this issue since there is an already issue opened for this #30

[2021-07-01 21:12] 3llomi commented on #63
Yes, you're right!. i just got rid of application tags in V 3.0.2.

[2021-07-01 21:12] #63 closed

[2021-07-02 20:21] 3llomi opened #65 "A crash could happen if recordView.setRecordPermissionHandler was not called"

[2021-07-05 14:45] 3llomi commented on #65
fixed in V3.1.0beta2

[2021-07-05 14:45] #65 closed

[2021-07-05 14:45] #64 closed

[2021-09-10 10:58] iAmJuan550 opened #67 "recordButton.setOnRecordClickListener and recordView.setOnRecordListener don't work together?"
Is it possible to do both?

[2021-09-14 18:11] 3llomi commented on #67
It is possible, but not at the same time.
for example you have to have some kind of state management, like in a Chat app, if there was no Text in EditText you would **enable** `listenForRecord` so the RecordButton can handle Recording. and in case if there was a Text in EditText you would **disable** `listenForRecord` to enable clicks on RecordButton.

[2021-09-14 18:11] #67 closed

[2021-09-15 09:06] waqaruet commented on #24
any update on beta version of lock option? I see a lot of bugs and incomplete functionality in Lock mode. Please inform what's the plan to take it out of beta?

[2021-09-15 09:10] waqaruet commented on #24
1. When we hold mike in Lock mode enabled, mike position changes from its base position which looks awkward
2. If user enters the lock mode and then get into onPause, onStop state then their is no handling listener or way to take it out of lock mode programatically or it should automatically stop.
3. Lock animation should be customiseable.

[2021-09-15 19:08] 3llomi commented on #24
Hey @waqaruet ,
Unfortunately I don't have enough time for this, I will try my best to finish it ASAP.

Thanks for your notes though, I just wanted to know that you are using the latest beta `V3.1.0beta6` ?

1.  The current implementation works ONLY if `RecordLock` AND `RecordButton` are in different parents.  i need to handle the case where both have the same parent.

2. Yes, I am thinking of add

[2021-09-15 19:43] waqaruet commented on #24
@3llomi  Thanks for your response, appreciate that,
I'm using V3.1.0beta6
1. Yes, RecordLock AND RecordButton are in different parents.
2. recordView.finishRecord() and recordView.cancelRecord() would be really handfull
3. Customization like to make similar to whatsapp i.e Shimmer text, shimmer text color , background color , lock Icon , lock animation on/off. unlock icon

[2021-09-16 13:50] 3llomi commented on #24
Thanks for your feedback!.

1. can you reproduce it? like posting a Video sample?

[2021-09-18 17:35] waqaruet commented on #24
Yes, I can re-produce it, attaching video as well.
You can see record button changes its position on touch

https://user-images.githubusercontent.com/41164853/133897539-259e45d8-d3a1-44d5-988a-a9530de1b21b.mp4

.

[2021-09-19 20:06] 3llomi commented on #24
@waqaruet Thanks for the Video!
I will try to fix it ASAP.

[2021-10-06 09:41] HosseinKurd opened #68 "RuntimeException: Duplicate class com.devlomi.record_view.AnimationHelper found in modules jetified-RecordView-3.0.2-runtime.jar"
In version : `3.0.2` of `com.github.3llomi:RecordView:` I just faced error:

Execution failed for task ':app:checkDebugDuplicateClasses'.

  java.lang.RuntimeException: java.lang.RuntimeException: Duplicate class com.devlomi.record_view.AnimationHelper found in modules jetified-RecordView-3.0.2-runtime.jar (com.github.3llomi:RecordView:3.0.2) and jetified-record-view-2.0.1-runtime.jar (com.devlomi

[2021-10-09 20:05] amnakashif opened #69 "Record view works fine on emulator but not on physical device"
Hello everyone,

Record view works great on my android studio's emulator but whenever i try to record with my phone it provides "null" toast and doesn't record anything.

my emulator is running on API level 28.

whereas my physical device is Samsung A50.
can anyone help please?

[2021-10-09 20:08] amnakashif commented on #69
This is what my logcat shows:

`2021-10-10 01:06:56.247 7637-24498/? E/MediaProvider: insertFileIfNecessary failed
    java.lang.IllegalArgumentException: Primary directory null not allowed for content://media/external_primary/file; allowed directories are [Download, Documents]
        at com.android.providers.media.MediaProvider.ensureFileColumns(MediaProvider.java:2932)
        at com.android.pr

[2021-10-11 02:37] #69 closed

[2021-10-30 10:57] #68 closed

[2021-12-09 15:00] Cool-Hackers-Tamil opened #70 "Fatal Exception: java.lang.NullPointerException"
Fatal Exception: java.lang.NullPointerException
Attempt to invoke virtual method 'void com.devlomi.record_view.RecordView.onActionDown(com.devlomi.record_view.RecordButton, android.view.MotionEvent)' on a null object reference
Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.devlomi.record_view.RecordView.onActionDown(com.devlomi.record_view.RecordButton,

[2022-01-06 12:04] FarooqKhattak opened #71 "How to change record button background color?"
I am unable to change the backgound green type color to my custom color.

[2022-01-09 02:38] 3llomi commented on #71
It's just a normal background, you can change it in xml using `android:background=...`
Or in code using `recordButton.setBackground..`

[2022-01-09 02:39] 3llomi commented on #70
Please make sure to call
`recordButton.setRecordView(recordView)`

[2022-01-09 05:07] Cool-Hackers-Tamil commented on #70
Thanks Bro it working now

[2022-01-09 05:26] #70 closed

[2022-01-14 20:35] 3llomi commented on #71
I used Shape Drawable as a background in the Demo, If you want the same shape, go to `record-view/drawable/recv_bg_mic.xml` and copy it to your folder, change its color and reference it in your xml.

OR simply just use background tint
`android:backgroundTint="@color/colorBlue"`

[2022-01-15 03:29] FarooqKhattak commented on #71
Thanks for the tip!

On Sat, Jan 15, 2022, 1:35 AM AbdulAlim Rajjoub ***@***.***>
wrote:

[2022-01-15 07:20] #71 closed

[2022-01-20 09:35] mwshubham commented on #37
![image](https://user-images.githubusercontent.com/29930308/150310463-ad22bf42-fb7f-4275-b30d-d7f0a21fa850.png)

Is it fixed in the latest version?
WE are currently using an older version

`com.devlomi.record-view:record-view:2.0.1`

[2022-01-20 11:26] mwshubham opened #72 "Attempt to invoke interface method 'boolean com.devlomi.record_view.RecordPermissionHandler.isPermissionGranted()' on a null object reference"
https://github.com/3llomi/RecordView/blob/25bcec8bdc8f241d13c2fd7e3a8952a6830383b8/record-view/src/main/java/com/devlomi/record_view/RecordView.java?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20%5Bdata-pjax-container%5D#L407

[code]

[2022-01-27 01:30] #72 closed

[2022-01-28 19:42] GemiDroid opened #73 "Recorded Audio"
How can I get the recorded audio?
As I see, no callback found for that stream, can you help?

[2022-01-30 16:51] 3llomi commented on #73
Hey @GemiDroid
This library is only a Record View, you have to implement audio recording by yourself using `MediaRecorder` for example.
You can check the sample app as well for more information.

[2022-01-30 16:51] #73 closed

[2022-02-18 13:13] SherazAli-67 opened #74 "java.lang.NullPointerException: Attempt to invoke virtual method 'void com.devlomi.record_view.RecordView.onActionDown(com.devlomi.record_view.RecordButton, android.view.MotionEvent)' on a null object reference"
Hey, I have facing with this issue, I have just defined the RecordView and Record Button in the xml nothing else, and when i touch the record, application crashes.

[2022-02-19 12:55] 3llomi commented on #74
Hi @SherazAli-67
Can you reproduce it? Please share the Code

[2022-02-28 13:37] #74 closed

[2022-03-25 02:14] 3llomi commented on #24
now it's fully working with V3.1.1 🎉🎉

[2022-03-25 02:14] #24 closed

[2022-04-10 14:22] bogdan-fesenko commented on #68
@HosseinKurd Hey!
You need to include only one of two lines at the Install step:
this:
//for AppCompat use:
//appcompat v26+ is higly recommended to support older APIs
implementation 'com.devlomi.record-view:record-view:2.0.1'or this
//for AndroidX use:
implementation 'com.github.3llomi:RecordView:3.1.1'

The error happens when you put 2 lines together

[2022-05-23 13:13] erengms opened #77 "if the phone's system font size is too large, the audio recording will be canceled as soon as it starts"
When the phone system font is too large, the sound recording will be canceled because the view starts directly aligned to the left.

[2022-06-01 12:53] 3llomi commented on #77
Hey @erengms ,
you can increase the bounds by calling
`recordView.setCancelBounds(12);//dp`

[2022-06-15 21:31] erengms commented on #77
I did but it doesn't work. For now, I've set -40dp to make it slide on top of the clock.

[2022-07-06 08:12] sdarvish opened #80 "Can't change the Growing animation scale-up value."

[2022-07-25 09:41] abora97 opened #81 "how change cancel direction"
i need change cancel direction swipe from left to right with rtl

[2022-07-25 13:27] 3llomi commented on #81
#30

[2022-07-25 13:27] #81 closed

[2022-08-07 15:22] bettersharing opened #82 "recordview causes recyclerview to malfunction"
Hello,
i have a problem with recordview when i use it with recyclerview. Turns out the recyclerview is behaving strangely. The elements of the recyclerview overlap the toolbar that I have added.
This is my xml file:

<?xml version="1.0" encoding="utf-8"?>
<layout xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://sche

[2022-08-07 16:30] 3llomi commented on #82
#17

[2022-08-07 18:23] bettersharing commented on #82
Hello 3Ilomi,
I have created the class in kotlin as stated in #17, but it still doesn't work. When I create this, a new layout "custom_preview" appears in which it tells me that "android" " is invalid. Prefixed namespace bindings may not be empty".
Should I add something else in this class? What could be wrong?

[2022-08-09 20:32] bettersharing commented on #82
Please, can you help me?

[2022-08-10 20:31] 3llomi commented on #82
Please share the code you have + the error you got

[2022-08-13 15:55] bettersharing commented on #82
![pbTir](https://user-images.githubusercontent.com/108431880/184501352-4e511b76-4afd-4e66-bc3b-a996ea414793.png)

Above you can see the problem that arises.

This is my own RecyclerView:

class CustomRecyclerView : RecyclerView {
    constructor(context: Context?) : super(context!!) {}
    constructor(context: Context?, @Nullable attrs: AttributeSet?) : super(context!!, attrs) {}
    constructor(c

[2022-08-15 09:41] bettersharing commented on #82
Can you help me please?

[2022-08-15 14:52] 3llomi commented on #82
Send me a demo project so I can look into it.

[2022-08-20 20:31] hami9872 commented on #82
@3llomi have you resolved this issue ??

[2022-08-20 20:32] hami9872 commented on #82
did you find any solution?

[2022-08-22 14:37] 3llomi commented on #82
@hami9872 Did you test the solution mentioned above?
Can you send me a sample Project so I can look into it?

[2022-08-23 06:07] hami9872 commented on #82
![image](https://user-images.githubusercontent.com/84516450/186082712-51b017b6-d14e-4276-bb3c-a84466ed5615.png)

[My Application.zip](https://github.com/3llomi/RecordView/files/9399774/My.Application.zip)

[2022-08-24 13:49] 3llomi commented on #82
@hami9872 I need fully working demo that demonstrates the issue please. I can't find the issue in the app you sent.

[2022-09-08 20:30] Achisyg2 opened #83 "How can I solve this error?"
Hello, I am using your library and I get the following error when I click on `RecordButton`:
`java.lang.NullPointerException: Attempt to invoke virtual method 'void com.devlomi.record_view.RecordView.onActionDown(com.devlomi.record_view.RecordButton, android.view.MotionEvent)' on a null object reference
        at com.devlomi.record_view.RecordButton.onTouch(RecordButton.java:104)
        at andro

[2022-09-09 19:38] 3llomi commented on #83
Hey @Achisyg2, Please make sure to call
[code]

[2022-09-09 20:26] Achisyg2 commented on #83
@3llomi  I have already called this.

[2022-09-09 20:35] Achisyg2 commented on #83
Hey, @3llomi I added the line you mentioned above inside the onCreate function and worked. Thank you!!

[2022-09-09 20:35] #83 closed

[2022-09-15 00:13] #82 closed

[2022-09-27 20:31] userKamalNayan opened #84 "Seen Weird behaviour when using with epoxy recycler view and parent is constraint layout"
@3llomi
The constraint of epoxy stops working. It starts to act as `height = match_parent`, width not tested.
When I removed this view from layout everything was working fine.

[2022-10-06 12:11] Mahesh160393 commented on #24
@3llomi How to change the lock icon image?

[2022-10-06 13:25] 3llomi commented on #24
@Mahesh160393 You can't.
I used two images for the Lock Icon, so if you tried to change both images it may result in incorrect behavior since the Lock size may differ.

[2022-11-15 22:43] diegoc9310 opened #85 "Render problems from example app"
I downloaded the repo and I can build this app successfully but I cant see the layout design due to these errors, these appear when adding

com.devlomi.record_view.RecordView to the activity_main.xml

![image](https://user-images.githubusercontent.com/14236231/202040123-b2a343a9-59e8-48d3-8aea-3808fda32eeb.png)

any ideas on why this happens?
thanks and kind regards

[2022-11-15 22:43] diegoc9310 opened #86 "Render problems from example app"
I downloaded the repo and I can build this app successfully but I cant see the layout design due to these errors, these appear when adding

com.devlomi.record_view.RecordView to the activity_main.xml

![image](https://user-images.githubusercontent.com/14236231/202040123-b2a343a9-59e8-48d3-8aea-3808fda32eeb.png)

any ideas on why this happens?
thanks and kind regards

[2022-11-15 22:45] diegoc9310 commented on #86
expanded image
![image](https://user-images.githubusercontent.com/14236231/202040628-8672ccfe-d6b0-4a77-aedb-a0f6d62d87b0.png)

[2022-11-28 09:48] KarmaTechnolabs opened #87 "just click on mic"
just click on mic and then again try to click on mic
getting crash on    mediaRecorder.prepare();   AudioRecorder line 25